include ../../../tools/_mixins.pug

section#about.g-about-me.o-scroll-margin
	+otter-icon.a-otter-icon.g-about-me__otter-icon
	h2.g-about-me__title Sobre mí
	.a-line-decoration.g-about-me__line-decoration
	section.g-about-me__introduce-me
		.g-about-me__picture-container
			figure.g-about-me__figure-my-photo
				img(id="about-me__img-id" class="g-about-me__img-me" src="../../assets/images/me/me.webp" alt="Yo mirando a la cámara, estoy de frente" loading="lazy" width="645" height="645")
		.g-about-me__presentation-container
			section.g-about-me__presentation
				h3.g-about-me__presentation-title Hola, soy Galeed Gutierrez.
				p.g-about-me__about-me-text Soy de Argentina y apasionado por la tecnología.
			section#about-me__more-information-container-id.g-about-me__more-information-container
				section.g-about-me__fronted-dev
					h3.g-about-me__presentation-title ¿Qué hago como frontend developer?
					p Creo sitios y aplicaciones web, no uso trucos ni mucho menos se trata de magia. Puedo manipular las materias primas de la web, es decir, las principales tecnologías tales como&nbsp;
						strong HTML
						| ,&nbsp;
						strong CSS
						| ,&nbsp;
						strong JavaScript&nbsp;
						| y&nbsp;
						strong API REST.&nbsp;
				section.about-me__technologies
					h3.g-about-me__presentation-title Tecnologías que quiero aprender
					p Una de las muchas tecnologías que quiero dominar es, la librería de JavaScript,&nbsp;
						strong React&nbsp;
						| tanto como para la web como para aplicaciones móviles, un framework de CSS como&nbsp;
						strong Tailwind&nbsp;
						| o&nbsp;
						strong Bootstrap&nbsp;
						| y sumado a todo esto aprender&nbsp;
						strong NODE.js&nbsp;
						| para el backend.
			button#about-me__button-id.g-about-me__button.a-button Leer más
