.button {
    width: 12rem;
    height: 5rem;
    border: 0.2rem solid $onyx;
    border-radius: 0.8rem;
    background-color: $ligt-cultured;
    color: $onyx;

    &:active {
        color: $ligt-cultured;
        background-color: $onyx;
    }
}
