// Primary colors
$primary-color: #48cfad;
$secondary-color: #434a54;
$white: #ffffff;
$white-hard: #e6e9ed;
$white-light: #ccd1d9;
$black-light: #656d78;
$black: #23282d;

// Secondary colors
$violet-plum: #ac92ec;
$hospital-green: #a0d468;

a {
    color: $black;
}