@import "./colors";
@import "./typography";
@import "./mixins";
@import './googleIcons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: $black;
    @include font-small;
}

figure {
    display: flex;
}

section[id]{
    scroll-margin-block-start: 7rem;
}

img {
    width: 100%;
    height: 100%;
}

// .grid-container {
//     max-width: 1024px;
//     margin: auto;
// }
