@import "./colors";
@import "./typography";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    @include font-small;
}

img,
svg {
    width: 100%;
}

// .grid-container {
//     max-width: 1024px;
//     margin: auto;
// }