@mixin center-block-axis {
    display: flex;
    align-items: center;
}

@mixin base-content-principal {
    display: grid;
    grid-row-gap: 2rem;
    padding: 2rem 3rem;
    background-color: $white-hard;
}

@mixin box-proyects-container {
    display: grid;
    grid-row-gap: 3rem;
    padding: 0 3rem;
    margin-block-start: 3rem;
}

@mixin box-proyects-container__tablet {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

@mixin box-proyects-container__desktop {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

@mixin title-proyect-main {
    padding-block-end: 2rem;
    margin: 2rem 3rem 0;
    border-block-end: 0.1rem solid $black-light;
    text-align: center;
}

@mixin title-proyect-main__desktop {
    margin: 2rem 0 0;
}

@mixin title-proyect-box {
    margin: 2rem 0;
}

@mixin info-proyect-box {
    margin-block-end: 2rem;
}