.options__switch-container {
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

.options__switch-input {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.options__switch-slider {
	position: absolute;
	left: 0;
	top: calc(50% - 1rem);
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background-color: $davys-grey;
	transition-duration: 500ms;
}

.options__switch-circle {
	position: absolute;
	left: 0.4rem;
	top: calc(50% - 0.6rem);
	z-index: 1;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: $light-cultured;
	transition-duration: 500ms;
}

.options__switch-input:checked + .options__switch-components .options__switch-circle {
	transform: translateX(2rem);
}

.options__switch-input:checked ~ .options__switch-components .options__switch-slider {
	background-color: $sonic-silver;
}

.options__switch-components {
	position: relative;
	width: 4rem;
	height: 2rem;
}
