include ../_mixins.pug
doctype html
html(lang="es")
    head#head-id
        include ../_head.pug
        block head
    body#body-id.body
        include ../../header/_header.pug
        block main
        include ../_footer.pug
        include ../scripts/_scripts.pug
