a {
    color: #23282d;
}

h1 {
    font-size: 1.8rem;
}

p {
    line-height: 3.25rem;
}

p, a {
    font-size: 1.4rem;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.6rem;
}

img,
svg {
    width: 100%;
}

.grid-container {
    max-width: 1024px;
    margin: auto;
}

.logo {
    position: relative;
    gap: 0.9rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo-image-container,
.logo-svg {
    height: 100%;
}

.logo__mi-blog {
    font-size: 3rem;
    font-family: "CodeNext-ExtraBold", "Roboto Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
}

.header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 5rem 9rem;
    grid-template-rows: 5rem 9rem;
    width: 100%;
}

.header__social-media-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #48cfad;
}

.header__social-media-icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30rem;
    height: 100%;
}

.header__social-media-icon {
    height: 100%;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-media-icon__span {
    font-size: 3rem;
}

.header__nav-logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0 2rem;
}

.header__logo-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__about-me {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__about-me-span {
    border-bottom: 0.1rem solid #23282d;
}

.footer {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
    height: 11rem;
    -webkit-margin-before: 4rem;
            margin-block-start: 4rem;
    -webkit-border-before: 3.5rem solid #48cfad;
            border-block-start: 3.5rem solid #48cfad;
    color: #ffffff;
    background-color: #23282d;
}

.button {
    width: 11rem;
    height: 5rem;
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.button--primary {
    border: 0.1rem solid #48cfad;
}

.button--secondary {
    background-color: #48cfad;
}

.header__social-media-icons,
.footer {
    display: none;
}

.body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 3rem 1fr;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    min-height: 490px;
    font-family: "Roboto Mono", sans-serif;
    background: url("https://drive.google.com/uc?id=1rdqHsLxMLKrFtEBWu1ZKhzXeTCIBBUF9") no-repeat center;
    background-size: cover;
}

.header {
    display: inline-block;
    -webkit-margin-before: 3rem;
            margin-block-start: 3rem;
}

.logo__mi-blog,
.header__about-me-span,
.main__social-media-icon,
.main__title,
.main__subtitle {
    color: #ffffff;
}

.header__about-me-span {
    border-color: #ffffff;
}

.main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5rem 4fr 5rem 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    -ms-grid-rows: 1fr 5rem auto;
    grid-template-rows: 1fr auto;
    gap: 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    text-align: center;
}

.main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.main > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.main > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.main > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.main > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.main__titles-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
}

.main__title,
.main__subtitle {
    font-weight: bold;
}

.main__title {
    font-size: 2.4rem;
}

.main__subtitle {
    -webkit-margin-before: 1rem;
            margin-block-start: 1rem;
    -webkit-margin-after: 3rem;
            margin-block-end: 3rem;
    font-size: 1.8rem;
}

.main__social-media-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
    -webkit-margin-after: 1rem;
            margin-block-end: 1rem;
}

.main__social-media-icons-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 25rem;
}