@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: 500;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: 400;
}

p,
a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

button,
input[type="submit"] {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9FA;
  color: #343A40;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section[id] {
  scroll-margin-block-start: 7rem;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: #343A40;
}

.header__logo-container {
  position: relative;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logo__galeed {
  font-size: 3.4rem;
  line-height: 3.4rem;
  font-weight: 700;
}

.options__switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.options__switch-input {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.options__switch-slider {
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #495057;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.options__switch-circle {
  position: absolute;
  z-index: 1;
  top: calc(50% - 0.6rem);
  left: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #F8F9FA;
  border-radius: 50%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.options__switch-input:checked + .options__switch-components .options__switch-circle {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.options__switch-input:checked ~ .options__switch-components .options__switch-slider {
  background-color: #6C757D;
}

.options__switch-components {
  position: relative;
  width: 4rem;
  height: 2rem;
}

.header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.8rem;
}

.options__icons {
  width: 2.8rem;
  height: 2.8rem;
}

.options__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.4rem;
}

.header__menu-options-changes {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 1.2rem 1.6rem;
  background-color: #F8F9FA;
}

.header__menu-sandwich {
  position: relative;
  z-index: 1;
  font-size: 3.8rem;
  line-height: normal;
  width: 4.4rem;
  height: 4.4rem;
  background: none;
  border: none;
  border-radius: 5rem;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu-sandwich--active {
  color: #F8F9FA;
  background-color: #343A40;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__nav-container {
  opacity: 0;
  position: absolute;
  left: 0rem;
  bottom: 6.7rem;
  width: 100%;
  -webkit-padding-after: 1.6rem;
          padding-block-end: 1.6rem;
  background-color: #F8F9FA;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
}

.header__nav {
  text-align: center;
}

.nav__ul-container {
  -webkit-margin-before: 1.6rem;
          margin-block-start: 1.6rem;
  -webkit-margin-after: 1.6rem;
          margin-block-end: 1.6rem;
}

.nav__label {
  position: relative;
  display: block;
  width: 100%;
}

.nav__input-radio {
  position: absolute;
  opacity: 0;
}

.nav__a {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
}

.nav__input-radio:checked + .nav__a::before {
  content: '[ ';
}

.nav__input-radio:checked + .nav__a::after {
  content: ' ]';
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?qwt0ly") format("truetype"), url("../fonts/icomoon.woff?qwt0ly") format("woff"), url("../fonts/icomoon.svg?qwt0ly#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-linkedin2:before {
  content: "";
}

.home__welcome,
.home__i-am,
.home__keywords,
.home__social-media,
.home__arrow-container {
  position: relative;
  z-index: 1;
}

.main__home {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
  height: 85vh;
  -webkit-margin-start: 1.6rem;
          margin-inline-start: 1.6rem;
  -webkit-margin-end: 1.6rem;
          margin-inline-end: 1.6rem;
}

.home__welcome {
  -webkit-margin-before: 1.6rem;
          margin-block-start: 1.6rem;
}

.home__i-am {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.home__my-name {
  font-weight: 800;
}

.home__keywords {
  gap: 0.5rem;
  max-width: 32.8rem;
  margin: 0 auto;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keywords__point-space {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #343A40;
}

.home__social-media {
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.social-media__icons {
  font-size: 2.4rem;
}

.social-media__icons:hover {
  color: #ADB5BD;
}

.social-media__icons:active {
  color: #ADB5BD;
}

.home__arrow-container {
  position: relative;
  width: 100%;
  height: 4rem;
}

.home__arrow-go-about {
  position: absolute;
  top: 0;
  left: calc(50% - 2rem);
  font-size: 4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: top-and-down-arrow;
          animation: top-and-down-arrow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes top-and-down-arrow {
  0% {
    top: 0rem;
  }
  50% {
    top: 0.6rem;
    opacity: 0.3;
  }
  100% {
    top: 0rem;
  }
}

@keyframes top-and-down-arrow {
  0% {
    top: 0rem;
  }
  50% {
    top: 0.6rem;
    opacity: 0.3;
  }
  100% {
    top: 0rem;
  }
}

.particles-js {
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.main__line-decoration {
  width: 0.3rem;
  height: 2.6rem;
  border-radius: 0.2rem;
  margin: 1rem auto;
  background-color: #343A40;
}

.about-me-fronted-dev__title,
.about-me-technologies__title {
  text-align: center;
  -webkit-margin-after: 0.8rem;
          margin-block-end: 0.8rem;
}

.main__about-me {
  position: relative;
  padding: 2.9rem 1.6rem 1.6rem;
}

.main__otter-figure {
  position: absolute;
  bottom: calc(100% - 2rem);
  left: calc(50% - 2rem);
  width: 4rem;
  height: 4rem;
}

.about-me__title {
  text-align: center;
}

.about-me__line-decoration {
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
}

.about-me__picture-container {
  position: relative;
  margin: 0 auto 2rem;
  width: 15rem;
}

.about-me__figure-my-photo {
  width: 100%;
}

.about-me__figure-my-photo::before {
  content: "";
  position: absolute;
  inset: -1.5rem;
  border: 0.6rem solid #F8F9FA;
  border-top-color: #6C757D;
  border-bottom-color: #ADB5BD;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

.about-me__img-me {
  border-radius: 50%;
}

.about-me__presentation {
  position: relative;
  -webkit-margin-before: 4rem;
          margin-block-start: 4rem;
}

.about-me__about-me-text {
  -webkit-margin-after: 1.6rem;
          margin-block-end: 1.6rem;
}

.about-me__more-information-container {
  display: none;
  -webkit-margin-after: 1.6rem;
          margin-block-end: 1.6rem;
}

.about-me__fronted-dev {
  -webkit-margin-after: 1.6rem;
          margin-block-end: 1.6rem;
}

.what-do-i-do-fronted__second-paragraph__title {
  text-align: center;
  -webkit-margin-after: 0.8rem;
          margin-block-end: 0.8rem;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.button {
  width: 12rem;
  height: 5rem;
  border: 0.2rem solid #343A40;
  border-radius: 0.8rem;
  background-color: transparent;
  color: #343A40;
}

.button:active {
  color: #F8F9FA;
  background-color: #343A40;
}

.main__portfolio {
  padding: 2.4rem 1.6rem;
  background-color: #E9ECEF;
}

.portfolio__title {
  text-align: center;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
  -webkit-border-after: 0.3rem solid #343A40;
          border-block-end: 0.3rem solid #343A40;
}

.portfolio__context {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.portfolio__proyects-container {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -webkit-padding-before: 3.6rem;
          padding-block-start: 3.6rem;
}

.proyect-container__img {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
}

.portfolio__info-container {
  padding-inline: 1.6rem;
  -webkit-padding-before: 0.4rem;
          padding-block-start: 0.4rem;
  -webkit-padding-after: 1.6rem;
          padding-block-end: 1.6rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #F8F9FA;
}

.proyect-container__technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  -webkit-margin-after: 0.4rem;
          margin-block-end: 0.4rem;
}

.technologies__icon-figure {
  width: 2.6rem;
}

.technologies__pug-icon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.portfolio__courses-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "logo name" "logo plataform";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0rem 1.2rem;
  -webkit-margin-before: 0.8rem;
          margin-block-start: 0.8rem;
  -webkit-margin-after: 1.6rem;
          margin-block-end: 1.6rem;
}

.courses-section__course-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  line-height: 2rem;
}

.courses-section__plataform {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: plataform;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  line-height: 1.3rem;
}

.courses-section__course-icon-figure {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 3.2rem;
}

.portfolio__view-proyect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

.porfolio__icons {
  font-size: 3.6rem;
}

.porfolio__button {
  display: block;
  margin-inline: auto;
  -webkit-margin-before: 1.6rem;
          margin-block-start: 1.6rem;
}

.social-media-container {
  gap: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding: 3.2rem 1.6rem;
  text-align: center;
}

.footer__title {
  -webkit-margin-after: 1.2rem;
          margin-block-end: 1.2rem;
  border: 0.2rem solid #343A40;
  border-radius: 1rem;
}

.footer__contact-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.footer__my-emial {
  font-size: 2.1rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.visibleHeaderMenu {
  opacity: 1;
  -webkit-transform: translateY(27.5rem);
          transform: translateY(27.5rem);
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
}

.visibleMoreAboutme {
  display: block;
}

.visible-header__options {
  opacity: 1;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}
/*# sourceMappingURL=style.css.map */