meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="Bienvenido a mi web personal, donde puedes conocer más sobre mí, mis intereses, mis proyectos personales y cómo contactarme. Aquí encontrarás información relevante y actualizada sobre mi perfil profesional.")
meta(name="robots" content="index,follow")
meta(property="og:url" content="https://galeedgutierrez.com")
meta(property="og:type" content="website")
meta(property="og:site_name" content="Galeed Gutierrez")
meta(property="og:description" content="Argentino | Frontend Developer | #JavaScript | #TypeScript | #HTML | #PUG | #CSS | #SASS | #Webpack | #ViteJs")
meta(property="og:title" content="Galeed Gutierrez")
meta(property="og:image" content="https://drive.google.com/uc?id=16ejNn81naE2X8KrloYv37t6RsiN_3TRM")
meta(property="og:locale" content="es_ES" )
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Galeed Gutierrez")
meta(name="twitter:description" content="Argentino | Frontend Developer | #JavaScript | #TypeScript | #HTML | #PUG | #CSS | #SASS | #Webpack | #ViteJs")
meta(name="twitter:image" content="https://drive.google.com/uc?id=16ejNn81naE2X8KrloYv37t6RsiN_3TRM")
meta(name="twitter:site" content="@GutierrezGaleed")
meta(name="twitter:creator" content="@GutierrezGaleed")
//- Para navegadores antiguos
link(rel="icon" href=require("@images/favicon/favicon.ico") type="any")
//- SVG con modo claro/oscuro para navegadores modernos
link(rel="icon" href=require("@images/favicon/favicon.svg") type="image/svg+xml")
//- Imagen 180x180 para dispositivos Apple
link(rel="apple-touch-icon" href=require("@images/favicon/apple-touch-icon.png"))
