script(async src="https://www.googletagmanager.com/gtag/js?id=G-M8H4YB694S")
script(src="../dist/googleAnalytics.js")
script(type="module" src="../dist/headerPorfolio.js")
script(type="module" src="../dist/showProyectsPorfolio.js")
script(type="module" src="../dist/darkModeProyects.js")
