
<header class="header">
  <section class="header__logo-container">
    <p class="logo__galeed">Galeed</p>
  </section>
  <button class="material-symbols-outlined header__menu-sandwich">menu</button>
  <section class="header__nav-container">
    <nav class="header__nav">
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="1"/><a class="nav__a" href="#">Home</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="2"/><a class="nav__a" href="#">Sobre mí</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="3"/><a class="nav__a" href="#">Proyectos</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="4"/><a class="nav__a" href="#">Resume</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="5"/><a class="nav__a" href="#">Contacto</a>
          </label>
        </li>
      </ul>
    </nav>
  </section>
</header>