.contact-main-container {
    display: grid;
    grid-row-gap: 2rem;
    padding: 3rem 5rem;
    margin-block-start: 4rem;
    background-color: $white-hard;
}

.contact-main {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 2rem;
}

.contact-main__type {
    display: inline-block;
    padding-block-end: 1rem;
    margin-block-end: 1rem;
    border-bottom: 0.1rem solid $black;
}

.contact-main__info {
    line-height: normal;
}

// .contact-main-image,
// .contact-left,
// .contact-right {
//     display: inline-block;
// }