.header {
	background-color: $eerie-black;
}

.header__menu-sandwich--active {
	background-color: $light-cultured;
	color: $eerie-black;
}

.header__nav-container {
	background-color: $eerie-black;
}
