@use "../../settings/variables";
@use "../../tools/mixins";
@use "../../tools/functions";

.g-header {
	--border-color: #{functions.light-dark(
			variables.$light-gray-300,
			variables.$gray-300
		)};

	position: sticky;
	z-index: variables.$z-index-2-surface-over;
	top: 0;
	width: 100%;
	border-block-end: variables.$border-025 solid var(--border-color);
	background-color: var(--background-color);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-inline: variables.$space-4;
		padding-block: variables.$space-3;
	}

	&__logo,
	&__sandwich-menu-button {
		position: relative;
		z-index: variables.$z-index-1-screen-foreground;
	}

	&__sandwich-menu-button {
		display: flex;

		&:focus-visible {
			@include mixins.focus-button;
		}
	}

	&__nav {
		margin-block: variables.$space-4;
		text-align: center;
	}

	&__ul-container {
		display: flex;
		gap: variables.$space-4;
		flex-direction: column;
	}

	&__menu-options-button {
		display: none;
	}

	&__label {
		display: block;
		width: 100%;
	}

	&__change-theme-container {
		position: relative;
		display: flex;
		gap: variables.$space-1;
		justify-content: space-between;
		align-items: center;
		width: 10.4rem;
		margin-inline: auto;
	}

	&__options-container {
		border-block-end: variables.$border-025 solid var(--border-color);
	}

	&__options {
		padding-block-end: variables.$space-4;
	}

	&__options--visible {
		opacity: 1;
		transition-duration: 750ms;
		transform: translateY(11.8rem);
	}

	&__link {
		display: block;
		width: 100%;
	}

	@include mixins.center-flex;
}

.g-header__menu-container {
	position: absolute;
	left: 0;
	bottom: 6.7rem;
	width: 100%;
	background-color: var(--background-color);
	opacity: 0;
	transition-duration: 750ms;

	&--visible {
		opacity: 1;
		transition-duration: 750ms;
		transform: translateY(27.5rem);
	}
}
