section#home.main__home
    h2.home__welcome ¡Bienvenido!
    h1.home__i-am Soy&nbsp;
        span.home__my-name
    section.home__keywords
        span.home__frontend-developer Frontend Developer
        div.keywords__point-space
        span.home__web-developer Web Developer
    section.home__social-media
        +social-media
    section.home__arrow-container
        a(href="#about").material-symbols-outlined.home__arrow-go-about keyboard_double_arrow_right
    #particles-js.particles-js
