include ./global/_mixins.pug

section#home.g-home.o-scroll-margin
	div.g-home__container
		h2 ¡Bienvenido!
		h1.g-home__i-am Soy&nbsp;
			span.g-home__my-name
		.g-home__keywords
			span Frontend Developer
			div.a-custom-point
			span Web Developer
		+social-media
		a(href="#about").a-arrow-down.a-arrow-down--animated
			svg(xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48").a-icon
				path(d="M480-200 240-440l42-42 198 198 198-198 42 42-240 240Zm0-253L240-693l42-42 198 198 198-198 42 42-240 240Z")
	#particles-js.m-particles-js
