section.main__portfolio
    h2.portfolio__title Mi portafolio
    p.portfolio__context Los proyectos están ordenados desde el más reciente al más antiguo.
    section#portfolio__proyects-container-id.portfolio__proyects-container
        //- article
        //-     +imgXD("", "proyect-container__img", "altImg", "../assets/img/recortados/batabit.jpg")
        //-     section.portfolio__info-container
        //-         section.proyect-container__technologies-container
        //-             +img("", "", "Icon HTML", "1BRpbBUN_-2_E6UeByG03GM49t7lUDUCp").technologies__icon-figure
        //-             +img("", "", "Icon HTML", "1ExF9cTErc6z8VU2qvAM_aJPjaNHs6lWB").technologies__icon-figure
        //-             +img("", "", "Icon HTML", "1iNWxpXHritBVIWiQlZSPOBq5UsK50yEm").technologies__icon-figure
        //-             +img("", "", "Icon HTML", "1dxQIX5mJXhqwb13fjNPsVsnAQqT-oz4u").technologies__icon-figure
        //-             +img("", "", "Icon HTML", "1yZpwhA9zkfWmyIRLdPHN35pW-CR5o4aD").technologies__icon-figure
        //-             +img("", "", "Icon HTML", "1-N-AYNcNvUFVsi0Lv_eWTyxP8Di5j_YB").technologies__icon-figure
        //-         h3 Batabit
        //-         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempora reiciendis soluta fugit saepe quidem.
        //-         a(href="#").portfolio__courses-section
        //-             +imgXD("", "proyect-container__img", "altImg", "../assets/img/logo-courses/curso-practico-de-javascript.webp").courses-section__course-icon-figure
        //-             p.courses-section__course-name Curso Practico de JavaScript
        //-             p.courses-section__plataform Platzi
        //-         secction.portfolio__view-proyect
        //-             form(action="#")
        //-                 input(type="submit", value="Ver proyecto").portfolio__button
        //-             a(href="#").icon-github.porfolio__icons
