section#proyects.main__portfolio
    h2.portfolio__title Mi portafolio
    //- p.portfolio__context Proyectos más recientes.
    section#portfolio__proyects-container-id.portfolio__proyects-container
    button.button.porfolio__button Ver todos
