section#projects.main__portfolio.o-scroll-margin
	h2.portfolio__title Mi portafolio
	//- p.portfolio__context Proyectos más recientes.
	section#portfolio__projects-container-id.portfolio__projects-container
	a(href="https://galeedgutierrez.com/projects.html").button.porfolio__button Ver todos
