@use "../settings/variables";

.a-custom-point {
	display: inline-block;
	width: variables.$space-1;
	height: variables.$space-1;
	border-radius: variables.$border-radius-circle;
	background-color: variables.$light-black;
}
