@use "../../settings/variables";
@use "../../tools/functions";

.g-about-me {
	position: relative;
	padding-inline: variables.$space-4;
	padding-block: variables.$space-7 variables.$space-4;

	&__title {
		text-align: center;
	}

	&__line-decoration {
		margin-inline: auto;
		margin-block-start: variables.$space-3;
	}

	&__presentation-title {
		margin-block-end: variables.$space-2;
		text-align: center;
	}

	&__introduce-me {
		margin-block-start: variables.$space-10;
	}

	&__picture-container {
		position: relative;
		width: 15rem;
		margin-inline: auto;
		margin-block-end: variables.$space-12;
	}

	&__img-me {
		border-radius: variables.$border-radius-circle;
		aspect-ratio: 1/1;
	}

	&__presentation-container {
		max-width: 39.5rem;
		margin-inline: auto;
	}

	&__presentation {
		position: relative;
		width: fit-content;
		margin-inline: auto;
		margin-block-end: variables.$space-4;
	}

	&__about-me-text {
		margin-block-end: variables.$space-4;
	}

	&__more-information-container {
		display: none;
		margin-block-end: variables.$space-4;
	}

	&__fronted-dev {
		margin-block-end: variables.$space-4;
	}

	&__button {
		width: 100%;
	}

	&__otter-icon {
		position: absolute;
		left: calc(50% - 2rem);
		bottom: calc(100% - 2rem);
	}
}

.g-about-me__figure-my-photo {
	--border-color-block-start: #{functions.light-dark(
			variables.$gray-100,
			variables.$light-gray-100
		)};

	position: relative;
	width: 100%;

	&::before {
		position: absolute;
		inset: -1.5rem;
		content: "";
		border-width: variables.$border-1;
		border-style: solid;
		border-inline-color: transparent;
		border-block-start-color: var(--border-color-block-start);
		border-block-end-color: variables.$light-gray-400;
		border-radius: calc(variables.$border-radius-circle - 1%);
		animation: spin variables.$time-11 linear infinite;
	}
}
