include ../../../tools/_mixins.pug
header#header-id.header
	section.header__container-general
		section.header__logo-container
			a(href="https://galeedgutierrez.com/").logo__galeed Galeed
		button#header__menu-sandwich-id.material-symbols-outlined.header__menu-sandwich menu
		section#header__nav-container-id.header__nav-container
			nav.header__nav
				+elements-menu-header("https://galeedgutierrez.com/#home", "header__nav-home", "Inicio", "1", "nav__input-radio-id-1")
				+elements-menu-header("https://galeedgutierrez.com/#about", "header__nav-about", "Sobre mí", "2", "nav__input-radio-id-2")
				+elements-menu-header("#projects", "header__nav-projects", "Proyectos", "3", "nav__input-radio-id-3")
				//- +elements-menu-header("#resume", "header__nav-resume", "Resume", "4", "nav__input-radio-id-4")
				+elements-menu-header("#contact", "header__nav-contact", "Contacto", "5", "nav__input-radio-id-5")
				button#header__menu-options-changes-id.material-symbols-outlined.header__menu-options-changes apps
			section#header__options-id.g-header__options-container
				.g-header__options
					.g-header__change-theme-container
						+header__theme-switch("header__theme-input-id","", "", "Sun icons", "../assets/icons/nature/space/icon-sun.webp", "", "", "Moon icon", "../assets/icons/nature/space/icon-moon.webp")
					//- .options__language.options__header
					//- 	+header-options("header__language-input-id","", "", "Spanish icon", "../assets/icons/languages/flag-spain.webp", "", "", "English icon", "../assets/icons/languages/flag-UK.webp")
