<!DOCTYPE html>
<html lang="es">
  <head id="head-id">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi web personal, puedes ver todos mis proyectos y saber un poco más sobre mí.">
    <meta name="robots" content="index,follow">
    <link rel="shortcut icon" href="https://drive.google.com/uc?id=186Xn4u0-ZHtIKJKfpOLZPAh0jIxMisvh" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  </head>
  <body class="body" id="body-id">
    <header class="header" id="header-id">
      <section class="header__container-general">
        <section class="header__logo-container"><a class="logo__galeed" href="https://galeedgutierrez.com/">Galeed</a></section>
        <button class="material-symbols-outlined header__menu-sandwich" id="header__menu-sandwich-id">menu</button>
        <section class="header__nav-container" id="header__nav-container-id">
          <nav class="header__nav">
                <ul class="nav__ul-container">
                  <li class="nav__li">
                    <label class="nav__label" for="headerMenu">
                      <input class="nav__input-radio" type="radio" name="headerMenu" value="1" id="nav__input-radio-id-1"><a class="nav__a" id="header__nav-home" href="https://galeedgutierrez.com/#home">Inicio</a>
                    </label>
                  </li>
                </ul>
                <ul class="nav__ul-container">
                  <li class="nav__li">
                    <label class="nav__label" for="headerMenu">
                      <input class="nav__input-radio" type="radio" name="headerMenu" value="2" id="nav__input-radio-id-2"><a class="nav__a" id="header__nav-about" href="https://galeedgutierrez.com/#about">Sobre mí</a>
                    </label>
                  </li>
                </ul>
                <ul class="nav__ul-container">
                  <li class="nav__li">
                    <label class="nav__label" for="headerMenu">
                      <input class="nav__input-radio" type="radio" name="headerMenu" value="3" id="nav__input-radio-id-3"><a class="nav__a" id="header__nav-proyects" href="#proyects">Proyectos</a>
                    </label>
                  </li>
                </ul>
                <ul class="nav__ul-container">
                  <li class="nav__li">
                    <label class="nav__label" for="headerMenu">
                      <input class="nav__input-radio" type="radio" name="headerMenu" value="5" id="nav__input-radio-id-5"><a class="nav__a" id="header__nav-contact" href="#contact">Contacto</a>
                    </label>
                  </li>
                </ul>
            <button class="material-symbols-outlined header__menu-options-changes" id="header__menu-options-changes-id">apps</button>
          </nav>
          <section class="header__options-container" id="header__options-id">
            <section class="header__options">
              <div class="options__themes options__header">
                    <label class="options__switch-container" for="switch">
                          <figure class="options__icons"><img id="" src="../assets/icons/nature/space/icon-sun.webp" alt="Sun icons"></figure>
                      <input class="options__switch-input" type="checkbox" name="switch" id="header__theme-input-id">
                      <div class="options__switch-components">
                        <div class="options__switch-circle"></div>
                        <div class="options__switch-slider"></div>
                      </div>
                          <figure class="options__icons"><img id="" src="../assets/icons/nature/space/icon-moon.webp" alt="Moon icon"></figure>
                    </label>
              </div>
              <div class="options__language options__header">
                    <label class="options__switch-container" for="switch">
                          <figure class="options__icons"><img id="" src="../assets/icons/languages/flag-spain.webp" alt="Spanish icon"></figure>
                      <input class="options__switch-input" type="checkbox" name="switch" id="header__language-input-id">
                      <div class="options__switch-components">
                        <div class="options__switch-circle"></div>
                        <div class="options__switch-slider"></div>
                      </div>
                          <figure class="options__icons"><img id="" src="../assets/icons/languages/flag-UK.webp" alt="English icon"></figure>
                    </label>
              </div>
            </section>
          </section>
        </section>
      </section>
    </header>
    <footer class="footer" id="contact">
      <h2 class="footer__title">Contacto</h2>
      <section class="footer__contact-container">
        <section class="footer__email-container">
          <p class="footer__emial-title">E-mail</p><a class="footer__my-emial" href="mailto:galeedgutierrez@hotmail.com?Subject=Quiero%20hablar%20contigo"> galeedgutierrez@hotmail.com</a>
        </section>
        <section class="footer__social-media social-media-container"><a href="https://www.facebook.com/galeedgutierrez" aria-label="Facebook" target="_blank"><i class="icon-facebook social-media__icons"></i></a><a href="https://www.instagram.com/galeedgutierrez/" aria-label="Instagram" target="_blank"><i class="icon-instagram social-media__icons"></i></a><a href="https://twitter.com/GutierrezGaleed" aria-label="Twitter" target="_blank"><i class="icon-twitter social-media__icons"></i></a><a href="https://github.com/GaleedGutierrez" aria-label="Github" target="_blank"><i class="icon-github social-media__icons"></i></a><a href="https://www.linkedin.com/in/galeedgutierrez" aria-label="Linkedin" target="_blank"><i class="icon-linkedin2 social-media__icons"></i></a>
        </section>
      </section>
    </footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8H4YB694S"></script>
    <script src="../dist/googleAnalytics.js"></script>
    <script type="module" src="../dist/headerPorfolio.js"></script>
    <script type="module" src="../dist/showProyectsPorfolio.js"></script>
    <script type="module" src="../dist/darkModeProyects.js"></script>
  </body>
</html>