
<section class="main__about-me" id="about">
  <h2 class="about-me__title">Sobre mí</h2>
  <div class="about-me__line-decoration"></div>
  <figure><img src="../assets/imgs/me.jpg" alt="Foto de perfil" srcset=""/></figure>
  <section class="about-me__presentation">
    <h3 class="about-me__my-name">Hola, soy Galeed Gutierez.</h3>
    <p class="about-me__about-me-text">Soy un joven de 21 años, que vive a los alrededores de una pequeña ciudad de Jujuy, Argentina. Apasionado por la tecnología y la fotografía.</p>
  </section>
  <section class="about-me__fronted-dev">
    <h3 class="about-me-fronted-dev__title">¿Qué hago como frontend developer?</h3>
    <p class="about-me-fronted-dev__text">Creo sitios y aplicaciones web, no uso trucos ni mucho menos se trata de magia. Puedo manipular las materias primas de la web, es decir, las principales tecnologías tales como&nbsp;<strong>HTML</strong>,&nbsp;<strong>CSS</strong>,&nbsp;<strong>JavaScript&nbsp;</strong>y&nbsp;<strong>API REST.&nbsp;</strong></p>
  </section>
  <section class="about-me__technologies">
    <h3 class="about-me-technologies__title">Tecnologías que quiero aprender</h3>
    <p class="what-do-i-do-fronted__second-paragraph">Una de las muchas tecnologías que quiero dominar es, la librería de JavaScript,&nbsp;<strong>React&nbsp;</strong>tanto como para la web como para aplicaciones móviles, un framework de CSS como<strong>Tailwind&nbsp;</strong>o&nbsp;<strong>Boostrap&nbsp;</strong>y sumado a todo esto aprender&nbsp;<strong>NODE.js&nbsp;</strong>para el backend.</p>
  </section>
</section>