
<section class="main__home">
  <h2 class="home__welcome">¡Bienvenido!</h2>
  <h1 class="home__i-am">Soy <span class="home__my-name"></span></h1>
  <section class="home__keywords"><span class="home__frontend-developer">Frontend Developer</span>
    <div class="keywords__point-space"></div><span class="home__web-developer">Web Developer</span>
  </section>
  <section class="home__social-media"><a class="icon-facebook home__icons" href="#"></a><a class="icon-instagram home__icons" href="#"></a><a class="icon-twitter home__icons" href="#"></a><a class="icon-github home__icons" href="#"></a><a class="icon-linkedin2 home__icons" href="#"></a></section>
  <section class="home__arrow-container"><a class="material-symbols-outlined home__arrow-go-about" href="#">keyboard_double_arrow_right</a></section>
</section>