
<section class="main__home" id="home">
  <h2 class="home__welcome">¡Bienvenido!</h2>
  <h1 class="home__i-am">Soy&nbsp;<span class="home__my-name"></span></h1>
  <section class="home__keywords"><span class="home__frontend-developer">Frontend Developer</span>
    <div class="keywords__point-space"></div><span class="home__web-developer">Web Developer</span>
  </section>
  <section class="home__social-media social-media-container"><a href="https://www.facebook.com/galeedgutierrez" aria-label="Facebook" target="_blank"><i class="icon-facebook social-media__icons"></i></a><a href="https://www.instagram.com/galeedgutierrez/" aria-label="Instagram" target="_blank"><i class="icon-instagram social-media__icons"></i></a><a href="https://twitter.com/GutierrezGaleed" aria-label="Twitter" target="_blank"><i class="icon-twitter social-media__icons"></i></a><a href="https://github.com/GaleedGutierrez" aria-label="Github" target="_blank"><i class="icon-github social-media__icons"></i></a><a href="https://www.linkedin.com/in/galeedgutierrez" aria-label="Linkedin" target="_blank"><i class="icon-linkedin2 social-media__icons"></i></a>
  </section>
  <section class="home__arrow-container"><a class="material-symbols-outlined home__arrow-go-about" href="#about">keyboard_double_arrow_right</a></section>
  <div class="particles-js" id="particles-js"></div>
</section>