ul
	li
		a.is-skip-link(href="#home") Ir al contenido principal
	li
		a.is-skip-link(href="#about") Ir a la sección sobre mí
	li
		a.is-skip-link(href="#projects") Ir a la sección de proyectos
	li
		a.is-skip-link(href="#contact") Ir a la sección de contacto
