.footer__title {
	@include limit-width-desktop;

	margin-block-end: 2rem;
}

.footer__contact-container {
	@include limit-width-desktop;

	gap: 0;
	grid-template-columns: repeat(2, 1fr);
}
