.header__options {
	background-color: $eerie-black;
}

.header__menu-options-changes--active {
	background-color: $light-gray;
	color: $onyx;
}

.header__options-container {
	background-color: $eerie-black;
}
