@use "../../settings/variables";

.header__menu-sandwich {
	display: none;
}

.header__nav-container {
	position: initial;
	left: initial;
	bottom: initial;
	padding: 0;
	opacity: 1;
	transition-duration: 0s;
}

.header__nav {
	display: flex;
	gap: 2.4rem;
	justify-content: end;
	align-items: center;
}

.header__menu-options-changes {
	display: block;
	width: 3.6rem;
	height: 3.6rem;
	border: none;
	background: none;
	font-size: 2.8rem;
}

.header__menu-options-changes--active {
	border-radius: 50%;
	background-color: variables.$light-gray-100;
	color: variables.$gray-100;
}

.header__options-container {
	position: absolute;
	right: 0;
	bottom: 8rem;
	width: 100%;

	// padding-block: 1.6rem;
	// padding-inline-end: 1.6rem;
	background-color: variables.$pure-white;
	opacity: 0;
	transition-duration: 250ms;
}

.header__options {
	gap: 1.2rem;

	// justify-content: end;
	padding-block: 1.6rem;
	padding-inline-end: 1.6rem;
}

.visible-header-menu {
	opacity: 1;
	transition-duration: 750ms;
	transform: translateY(27.5rem);
}

.visible-more-about-me {
	display: block;
}

.visible-header__options {
	opacity: 1;
	transition-duration: 750ms;
	transform: translateY(11.8rem);
}

.options__header {
	margin-inline-end: initial;
	margin-inline-start: auto;
}
