@use "../../settings/variables";

.g-header {
	&__sandwich-menu-button {
		display: none;
	}

	&__menu-container {
		position: initial;
		left: initial;
		bottom: initial;
		padding: 0;
		opacity: 1;
		transition-duration: 0s;
	}

	&__nav {
		position: relative;
		z-index: variables.$z-index-1-screen-foreground;
		display: flex;
		gap: 2.4rem;
		justify-content: end;
		align-items: center;
	}

	&__ul-container {
		flex-direction: row;
	}

	&__menu-options-button {
		display: flex;
	}

	&__changes-options-menu {
		width: 3.6rem;
		height: 3.6rem;
		padding: variables.$space-05;
		border: none;
		background: none;
		font-size: 2.8rem;
	}

	&__changes-options-menu--active {
		border-radius: 50%;
		background-color: variables.$light-gray-100;
		fill: variables.$gray-100;
	}

	&__options-container {
		position: absolute;
		right: 0;
		bottom: 8rem;
		width: 100%;
		background-color: variables.$pure-white;
		opacity: 0;
		transition-duration: 250ms;
	}

	&__options {
		padding-block: 1.6rem;
		padding-inline-end: 1.6rem;
	}

	&__menu--visible {
		opacity: 1;
		transition-duration: 750ms;
		transform: translateY(27.5rem);
	}

	&__options--visible {
		opacity: 1;
		transition-duration: 750ms;
		transform: translateY(11.8rem);
	}

	&__change-theme-container {
		margin-inline-end: initial;
		margin-inline-start: auto;
	}
}

.visible-more-about-me {
	display: block;
}
