include ../../tools/_mixins.pug
- const IS_FOOTER = true;

footer#contact.o-container.g-footer
	h2.g-footer__title Contacto
	section.g-footer__contact-container
		a(href="mailto:galeedgutierrez@hotmail.com" aria-label="Envíame un correo y trabajemos juntos").g-footer__my-email Trabajemos juntos 😄
		+social-media.g-footer__social-media
