@use "../settings/variables";
@use "../tools/mixins";

body {
	@include mixins.body-lg;

	background-color: var(--background-color);
	color: var(--text-color);
	font-family: variables.$primary-font;
}
