.header__options {
    background-color: $eerie-black;
}

.header__menu-options-changes--active {
    color: $onyx;
    background-color: $light-gray;
}

.header__options-container {
    background-color: $eerie-black;
}
