.header {
    background-color: $eerie-black;
}

.header__menu-sandwich--active {
    color: $eerie-black;
    background-color: $ligt-cultured;
}

.header__nav-container {
    background-color: $eerie-black;
}
