.header__menu-sandwich {
	display: none;
}

.header__nav-container {
	position: initial;
	left: initial;
	bottom: initial;
	opacity: 1;
	padding: 0;
	transition-duration: 0s;
}

.header__nav {
	display: flex;
	gap: 2.4rem;
	justify-content: end;
	align-items: center;
}

.header__menu-options-changes {
	display: block;
	width: 3.6rem;
	height: 3.6rem;
	border: none;
	background: none;
	font-size: 2.8rem;
}

.header__menu-options-changes--active {
	border-radius: 50%;
	background-color: $hard-cultured;
	color: $sonic-silver;
}

.header__options-container {
	position: absolute;
	right: 0;
	bottom: 8rem;
	width: 100%;
	background-color: $light-cultured;
	transition-duration: 250ms;
	opacity: 0;
}

.header__options {
	gap: 1.2rem;
	justify-content: end;
	padding-block: 1.6rem;
	padding-inline-end: 1.6rem;
}
