@import '../global/switch';
@import './headerOptions';

.header__menu-options-changes {
    display: none;
}

.header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: $ligt-cultured;
}

.header__container-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.6rem;
}

.header__menu-sandwich {
    position: relative;
    z-index: 1;
    font-size: 3.8rem;
    line-height: normal;
    width: 4.4rem;
    height: 4.4rem;
    background: none;
    border: none;
    border-radius: 5rem;
    transition-duration: 1s;
    @include all-center-flex;
}

.header__menu-sandwich--active {
    color: $ligt-cultured;
    background-color: $onyx;
    transition-duration: 1s;
}

.header__nav-container {
    opacity: 0;
    position: absolute;
    left: 0rem;
    bottom: 6.7rem;
    width: 100%;
    padding-block-end: 1.6rem;
    background-color: $ligt-cultured;
    transition-duration: 750ms;
}

.header__nav {
    text-align: center;
}

.nav__ul-container {
    margin-block-start: 1.6rem;
    margin-block-end: 1.6rem;
}

.nav__label {
    position: relative;
    display: block;
    width: 100%;
}

.nav__input-radio {
    position: absolute;
    opacity: 0;
}

.nav__a {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
}

.nav__input-radio:checked + .nav__a::before {
    content: '[ ';
}

.nav__input-radio:checked + .nav__a::after {
    content: ' ]';
}
