@use "../settings/variables";
@use "../tools/mixins";

.m-social-media {
	gap: variables.$space-7;

	&__link {
		display: flex;
	}

	&__icons {
		width: variables.$space-7;
	}

	@include mixins.all-center-flex;
}
