@use "../settings/variables";
@use "../tools/mixins";
@use "../tools/functions";

.m-social-media {
	flex-wrap: wrap;
	gap: variables.$space-7;

	&__icons {
		width: variables.$space-8;
	}

	&__link {
		--hover-text-color: #{functions.light-dark(
				variables.$gray-200,
				variables.$light-gray-400
			)};
		--active-text-color: #{functions.light-dark(
				variables.$light-black,
				variables.$light-gray-100
			)};

		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;

		&:hover {
			@media (hover: hover) {
				color: var(--hover-text-color);
			}
		}

		&:hover .m-social-media__icons {
			@media (hover: hover) {
				fill: currentcolor;
			}
		}

		&:active {
			color: var(--active-text-color);
		}

		&:active .m-social-media__icons {
			fill: currentcolor;
		}
	}

	@include mixins.center-flex;
}
