@use "../settings/variables";
@use "../tools/mixins";

.m-switch-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	&:has(:focus-visible) {
		@include mixins.focus-input;
	}
}

.m-switch {
	position: relative;
	width: 3.8rem;

	// Background
	&::before {
		display: block;
		height: 2rem;
		width: 100%;
		border-radius: variables.$border-radius-3;
		background-color: variables.$gray-300;
		transition: all variables.$time-002;
		content: "";
	}

	// Circle
	&::after {
		position: absolute;
		left: 0.4rem;
		top: calc(50% - 0.6rem);
		z-index: variables.$z-index-1-screen-foreground;
		display: block;
		height: 1.2rem;
		width: 1.2rem;
		border-radius: variables.$border-radius-circle;
		background-color: variables.$pure-white;
		transition: all variables.$time-002;
		content: "";
	}
}

.m-switch__input {
	position: absolute;
	opacity: 0;

	&:checked ~ .m-switch::before {
		opacity: 0.798;
	}

	&:checked + .m-switch::after {
		transform: translateX(150%);
	}
}
