extend ./components/global/_base.pug
block head
    +style-head("blogs/style.css")
    +style-head-responsive("blogs/tablet.css", "720")
    +style-head-responsive("blogs/desktop.css", "1024")
    +titles("Blogs")
block main
    main.blogs-main.grid-container
        section.blogs-main__principal-blog-container
            h3.principal-blog__title Lorem ipsum
            +img-responsive("blogs-main__principal-blog-image-container", "1yndMHgtFzlTBegoh9fkUVRVUurtD9oEm","1BZNddydZM10mtx1hrWui7GnsplknMd0b","1LZJfnSzw31hKIBgK81yg258udfkNjfzT","Photo dummy")
            .blogs-main__info-principal-blog-container   
                h2.info-principal-blog-container__title Lorem ipsum
                p.info-principal-blog-container__info Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque voluptates ea quam ipsam totam mollitia officia ex, reiciendis perspiciatis fugiat eligendi dolorum et, quo odio accusamus deserunt quibusdam? Mollitia, minima.
                +button("./blog.html", "Leer más", "button--primary")
        h3.blogs-main__blog-post-title Lorem ipsum
        section.blogs-main__blogs-post-container
            each number in [1, 2, 3, 4, 5, 6]
                +box-blog-post-summary("1yndMHgtFzlTBegoh9fkUVRVUurtD9oEm","1BZNddydZM10mtx1hrWui7GnsplknMd0b","1LZJfnSzw31hKIBgK81yg258udfkNjfzT","Photo dummy", "Lorem ipsum", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque voluptates ea quam ipsam totam mollitia officia ex, reiciendis perspiciatis fugiat eligendi dolorum et, quo odio accusamus deserunt quibusdam? Mollitia, minima.","./blog.html")=number