extend ./components/global/_base.pug
block head
    +style-head("blog/style.css")
    +style-head-responsive("blog/tablet.css", "720")
    +style-head-responsive("blog/desktop.css", "1024")
    +titles("Blog")
block main
    main.blogpost.grid-container
        section.blogpost__image-container
            +img-responsive("blogpost__image", "1yndMHgtFzlTBegoh9fkUVRVUurtD9oEm","1BZNddydZM10mtx1hrWui7GnsplknMd0b","1LZJfnSzw31hKIBgK81yg258udfkNjfzT","Dummy photo")
        h3.blogpost__main-type-blog Lorem ipsum
        section.blogpost__main-container
            .blogpost__main
                article.blogpost__main-content-container
                    h1.blogpost__main-title Lorem ipsum
                    p.blogpost__main-info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam facere ex reiciendis, iure maiores quisquam ut sint minima harum expedita ratione numquam eligendi, veniam officiis saepe? Ducimus nobis ex facere?
                    p.blogpost__main-info Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nostrum error quo beatae quis rem perferendis culpa quaerat eveniet alias! Illum voluptates quae odit provident sed perspiciatis saepe necessitatibus cumque?
                    p.blogpost__main-info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione rem molestiae omnis nobis dolore reiciendis facere sed at maxime aliquam, vero corrupti similique illum, doloremque corporis cum laboriosam repellat. Amet.
                    p.blogpost__main-info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione rem molestiae omnis nobis dolore reiciendis facere sed at maxime aliquam, vero corrupti similique illum, doloremque corporis cum laboriosam repellat. Amet.
        section.contact-main-container
            +contact-section
