extend ./components/global/_base.pug
block head
    +style-head("index/style.css")
    //- +style-head("dark.css")
    +style-head-responsive("index/tablet.css", "768")
    +style-head-responsive("index/desktop.css", "1024")
    +titles("Galeed Gutierrez")
block main
    main.main
        include ./components/_home.pug
        include ./components/_aboutMe.pug
        include ./components/_portfolio.pug
