extend ./components/global/base/_baseProyects.pug
block head
    +style-head("index/style.css")
    //- +style-head("dark.css")
    +style-head-responsive("index/tablet.css", "768")
    +style-head-responsive("index/desktop.css", "1024")
    +titles("Proyectos")
block main
    main.main
        include ./components/portfolio/_portfolioProyects.pug
