include ./_mixins.pug
doctype html
html(lang="en")
    head
        include ./_head.pug
        block head
    body#body-id.body
        include ./_header.pug
        block main
        include ./_footer.pug
        include ./_scripts.pug