footer#contact.footer
    h2.footer__title Contacto
    section.footer__contact-container
        section.footer__email-container
            p.footer__emial-title E-mail
            a(href="mailto:galeedgutierrez@hotmail.com?Subject=Quiero%20hablar%20contigo").footer__my-emial  galeedgutierrez@hotmail.com
        section.footer__social-media.social-media-container
            +social-media
