include ./_mixins.pug
footer#contact.footer
	h2.footer__title Contacto
	section.footer__contact-container
		section.footer__email-container
			a(href="mailto:galeedgutierrez@hotmail.com").footer__my-email  Trabajemos juntos 😄
		section.footer__social-media.social-media-container
			+social-media
