header.header
    section.header__social-media-icons
        .header__social-media-icons-container
            a(href="").header__social-media-icon 
                span.flaticon-001-facebook.social-media-icon__span
            a(href="").header__social-media-icon 
                span.flaticon-002-twitter.social-media-icon__span
            a(href="").header__social-media-icon 
                span.flaticon-011-instagram.social-media-icon__span
            a(href="").header__social-media-icon 
                span.flaticon-010-linkedin.social-media-icon__span
            a(href="").header__social-media-icon 
                span.flaticon-008-youtube.social-media-icon__span
    nav.header__nav-logo-container
        section.header__logo-container
            +logo-mi-blog
        section.header__profile-link
            a(href="./perfil.html").header__about-me 
                span.header__about-me-span Sobre mí 