script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
script(async src="https://www.googletagmanager.com/gtag/js?id=G-M8H4YB694S")
script(src="../dist/googleAnalytics.js")
script(src="../dist/components/particles-js.js")
script(type="module" src="../dist/header.js")
script(type="module" src="../dist/home.js")
script(type="module" src="../dist/about-me.js")
script(type="module" src="../dist/showProyects.js")
script(type="module" src="../dist/darkMode.js")
