link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="../assets/fonts/Code-Next-Extra-Bold/MyFontsWebfontsKit.css")
link(rel="stylesheet", href="../css/flaticon-font/flaticon.css")