.contact-main-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
}

.contact-main {
    -ms-grid-columns: 20% auto;
    grid-template-columns: 20% auto;
}

.profile-main__proyects-container {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}