@use "../../settings/variables";
@use "../../tools/mixins";

.g-home {
	position: relative;
	height: 85vh;
	padding-inline: variables.$space-4;

	&__container {
		position: relative;
		z-index: variables.$z-index-1-screen-foreground;
		display: grid;
		gap: variables.$space-5;
		place-content: center;
		height: 85vh;
		text-align: center;
	}

	&__my-name {
		font-weight: variables.$weight-extrabold;
	}

	&__keywords {
		gap: variables.$space-1;

		@include mixins.all-center-flex;
	}
}
