@use "../settings/variables";
@use "../tools/functions";

.a-line-decoration {
	--background-color: #{functions.light-dark(
			variables.$background-dark-color,
			variables.$background-lighter-gray-color
		)};

	width: 0.3rem;
	height: 2.6rem;
	border-radius: variables.$border-radius-05;
	background-color: var(--background-color);
}
