@use "../settings/variables";

.a-sandwich-menu {
	width: 4.4rem;
	height: 4.4rem;
	padding: variables.$space-05;
	border-radius: variables.$border-radius-circle;
	background: none;
	transition-duration: 1s;
	line-height: normal;

	&--active {
		background-color: variables.$light-black;
		transition-duration: 1s;
		fill: variables.$pure-white;
	}
}
