@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.a-sandwich-menu {
	--background-color: #{functions.light-dark(
			variables.$background-dark-color,
			variables.$background-lightest-color
		)};

	height: 4.4rem;
	width: 4.4rem;
	padding: variables.$space-05;
	border-radius: variables.$border-radius-circle;
	background: none;
	line-height: normal;
	fill: var(--icon-color);
	transition-duration: variables.$time-1;

	&--active {
		background-color: var(--background-color);
		fill: var(--icon-active-color);
		transition-duration: variables.$time-007;
	}
}
