extend ../settings/_global.pug
block head
	- const SEE_HEADER = true
	- const SEE_FOOTER = true
	//- +style-head("index/style.css")
	//- //- +style-head("dark.css")
	//- +style-head-responsive("index/tablet.css", "768")
	//- +style-head-responsive("index/desktop.css", "1024")
	title Proyectos
block header
	include ./organisms/header/_headerPorfolio.pug
block main
	main.main
		include ./organisms/portfolio/_portfolioProjects.pug
block scripts
	include ../organisms/scripts/_googleAnalytics.pug
	script(type="module" src=require("../../src/headerPorfolio.ts"))
	script(type="module" src=require("../../src/showProjectsPorfolio.ts"))
	script(type="module" src=require("../../src/darkModeProjects.ts"))
