
<header class="header" id="header-id">
  <section class="header__container-general">
    <section class="header__logo-container"><a class="logo__galeed" href="https://galeedgutierrez.com/">Galeed</a></section>
    <button class="material-symbols-outlined header__menu-sandwich" id="header__menu-sandwich-id">menu</button>
    <section class="header__nav-container" id="header__nav-container-id">
      <nav class="header__nav">
        <ul class="nav__ul-container">
          <li class="nav__li">
            <label class="nav__label" for="headerMenu">
              <input class="nav__input-radio" type="radio" name="headerMenu" value="1" id="nav__input-radio-id-1"/><a class="nav__a" id="header__nav-home" href="https://galeedgutierrez.com/#home">Inicio</a>
            </label>
          </li>
        </ul>
        <ul class="nav__ul-container">
          <li class="nav__li">
            <label class="nav__label" for="headerMenu">
              <input class="nav__input-radio" type="radio" name="headerMenu" value="2" id="nav__input-radio-id-2"/><a class="nav__a" id="header__nav-about" href="https://galeedgutierrez.com/#about">Sobre mí</a>
            </label>
          </li>
        </ul>
        <ul class="nav__ul-container">
          <li class="nav__li">
            <label class="nav__label" for="headerMenu">
              <input class="nav__input-radio" type="radio" name="headerMenu" value="3" id="nav__input-radio-id-3"/><a class="nav__a" id="header__nav-proyects" href="#proyects">Proyectos</a>
            </label>
          </li>
        </ul>
        <ul class="nav__ul-container">
          <li class="nav__li">
            <label class="nav__label" for="headerMenu">
              <input class="nav__input-radio" type="radio" name="headerMenu" value="5" id="nav__input-radio-id-5"/><a class="nav__a" id="header__nav-contact" href="#contact">Contacto</a>
            </label>
          </li>
        </ul>
        <button class="material-symbols-outlined header__menu-options-changes" id="header__menu-options-changes-id">apps</button>
      </nav>
      <section class="header__options-container" id="header__options-id">
        <section class="header__options">
          <div class="options__themes options__header">
            <label class="options__switch-container" for="switch">
              <figure class="options__icons"><img id="" src="../assets/icons/nature/space/icon-sun.webp" alt="Sun icons"/></figure>
              <input class="options__switch-input" type="checkbox" name="switch" id="header__theme-input-id"/>
              <div class="options__switch-components">
                <div class="options__switch-circle"></div>
                <div class="options__switch-slider"></div>
              </div>
              <figure class="options__icons"><img id="" src="../assets/icons/nature/space/icon-moon.webp" alt="Moon icon"/></figure>
            </label>
          </div>
          <div class="options__language options__header">
            <label class="options__switch-container" for="switch">
              <figure class="options__icons"><img id="" src="../assets/icons/languages/flag-spain.webp" alt="Spanish icon"/></figure>
              <input class="options__switch-input" type="checkbox" name="switch" id="header__language-input-id"/>
              <div class="options__switch-components">
                <div class="options__switch-circle"></div>
                <div class="options__switch-slider"></div>
              </div>
              <figure class="options__icons"><img id="" src="../assets/icons/languages/flag-UK.webp" alt="English icon"/></figure>
            </label>
          </div>
        </section>
      </section>
    </section>
  </section>
</header>