
<header class="header" id="header-id">
  <section class="header__logo-container"><a class="logo__galeed" href="#home">Galeed</a></section>
  <button class="material-symbols-outlined header__menu-sandwich" id="header__menu-sandwich-id">menu</button>
  <section class="header__nav-container" id="header__nav-container-id">
    <nav class="header__nav">
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="1" id="nav__input-radio-id-1"/><a class="nav__a" id="header__nav-home" href="#home">Inicio</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="2" id="nav__input-radio-id-2"/><a class="nav__a" id="header__nav-about" href="#about">Sobre mí</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="3" id="nav__input-radio-id-3"/><a class="nav__a" id="header__nav-proyects" href="#proyects">Proyectos</a>
          </label>
        </li>
      </ul>
      <ul class="nav__ul-container">
        <li class="nav__li">
          <label class="nav__label" for="headerMenu">
            <input class="nav__input-radio" type="radio" name="headerMenu" value="5" id="nav__input-radio-id-5"/><a class="nav__a" id="header__nav-contact" href="#contact">Contacto</a>
          </label>
        </li>
      </ul>
      <button class="material-symbols-outlined header__menu-options-changes" id="header__menu-options-changes-id">apps</button>
    </nav>
    <section class="header__options" id="header__options-id">
      <div class="options__themes options__header">
        <label class="options__switch-container" for="p">
          <figure class="options__icons"><img id="" src="https://drive.google.com/uc?id=13uLYQIqblEyYHekXbPRPXYyrasa6Xs1k" alt="Sun icons"/></figure>
          <input class="options__switch-input" type="checkbox" name="p" id="header__theme-input-id"/>
          <div class="options__switch-components">
            <div class="options__switch-circle"></div>
            <div class="options__switch-slider"></div>
          </div>
          <figure class="options__icons"><img id="" src="https://drive.google.com/uc?id=1LfBey7pN-QzTg9jX-6839xRfaUGcvk-o" alt="Moon icon"/></figure>
        </label>
      </div>
      <div class="options__language options__header">
        <label class="options__switch-container" for="p">
          <figure class="options__icons"><img id="" src="https://drive.google.com/uc?id=1o71lcagpBF2FTO7TlrQ6ecdPv3BFVKQd" alt="Spanish icon"/></figure>
          <input class="options__switch-input" type="checkbox" name="p" id="header__language-input-id"/>
          <div class="options__switch-components">
            <div class="options__switch-circle"></div>
            <div class="options__switch-slider"></div>
          </div>
          <figure class="options__icons"><img id="" src="https://drive.google.com/uc?id=1hJoUCcExFdMct7vIQwVuQuGEYueTObH7" alt="English icon"/></figure>
        </label>
      </div>
    </section>
  </section>
</header>