@import "../colors";

body {
    background-color: $eerie-black;
    color: $ligt-cultured;
}

a {
    color: $ligt-cultured;
}

.material-symbols-outlined {
    color: $ligt-cultured;
}
