@import "../components/global/typography";
@import "../components/header/header-desktop";
@import "../components/buttons/buttons-desktop";

.body {
    background-image: url("https://drive.google.com/uc?id=14qyMeLEihCjSghqwkInuW4YrYUg0tpd7");
}

.header {
    padding: 0 3.5rem;
}

.header__about-me {
    font-size: $medium;
}

.main__title {
    font-size: $extra-extra-large;
}

.main__subtitle {
    font-size: $extra-large;
}

.main__social-media-icons-container {
    width: 35rem;
}

.social-media-icon__span::before {
    font-size: 4.5rem;
}