extend ../settings/_global.pug
block head
	- const SEE_HEADER = true
	- const SEE_FOOTER = true
	//- link(rel="stylesheet" href="../../styles/index/style.css")
	//- link(rel="stylesheet" href="~@styles/index/tablet.scss" media="screen and (min-width: 768px)")
	//- link(rel="stylesheet" href="~@styles/index/desktop.scss" media="screen and (min-width: 1024px)")
	title Galeed Gutierrez
block skip-links
	include ./organisms/skip-links/_skip-links.pug
block header
	include ./organisms/header/_header.pug
block main
	main.main
		include ./organisms/home/_home.pug
		include ./organisms/about-me/_aboutMe.pug
		include ./organisms/portfolio/_portfolio.pug
block scripts
	include ../organisms/scripts/_analytics.pug
	script(type="application/ld+json").
		{
			"@context": "https://schema.org",
			"@type": "CollectionPage",
			"name": "Galeed Gutierrez",
			"description": "Bienvenido a mi web personal, donde puedes conocer más sobre mí, mis intereses, mis proyectos personales y cómo contactarme. Aquí encontrarás información relevante y actualizada sobre mi perfil profesional.",
			"url": "https://galeedgutierrez.com",
			"author": {
				"@type": "Person",
				"name": "Galeed Gutierrez"
			},
			"mainContentOfPage": {
				"@type": "WebPageElement",
				"cssSelector": "#home"
			},
			"mainEntity": {
				"@type": "ItemList",
				"itemListElement": [
					{
						"@type": "CreativeWork",
<<<<<<< HEAD
=======
						"name": "Apeperia",
						"url": "https://galeedgutierrez.com/Curso-de-Layouts-Responsivos-Trabajando-con-layouts-mobile-Alura-G5-2023/"
					},
					{
						"@type": "CreativeWork",
>>>>>>> 9698b69f244cc370ae515d66da7ecee336f7dce9
						"name": "Mi portafolio - Juliana Gómez",
						"url": "https://galeedgutierrez.com/Curso-de-Accesibilidad-Web-2019/"
					},
					{
						"@type": "CreativeWork",
						"name": "LEGO",
						"url": "https://galeedgutierrez.com/Curso-Practico-de-Maquetacion-y-Animaciones-con-CSS-2021/dist/"
					},
					{
						"@type": "CreativeWork",
						"name": "100tifi.co",
						"url": "https://galeedgutierrez.com/Curso-de-Single-Page-Application-con-JavaScript-Vanilla-2021/dist/public/index.html"
					},
					{
						"@type": "CreativeWork",
						"name": "Encriptador de texto",
						"url": "https://galeedgutierrez.com/Encriptador-de-texto-Alura-Challenges-ONE-2023/dist/"
					},
					{
						"@type": "CreativeWork",
						"name": "Link in bio",
						"url": "https://galeedgutierrez.com/Curso-de-Introduccion-a-Empaquetadores-Web/webpack/dist/index.html"
<<<<<<< HEAD
					},
					{
						"@type": "CreativeWork",
						"name": "Platzi Movies",
						"url": "https://galeedgutierrez.com/Curso-Profesional-de-Consumo-de-API-REST-con-JavaScript-2022/html/#home"
=======
>>>>>>> 9698b69f244cc370ae515d66da7ecee336f7dce9
					}
				]
			}
		}
