.button {
	width: 12rem;
	height: 5rem;
	border: 0.2rem solid $onyx;
	border-radius: 0.8rem;
	background-color: transparent;
	color: $onyx;

	&:active {
		background-color: $onyx;
		color: $light-cultured;
	}
}
